services:
  app:
    # image: ghcr.io/artichoked1/weatherbus-lorawan-ingestor:master
    build: .
      PG_DSN: postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:5432/${PGDATABASE}?sslmode=disable
    env_file:
      - .env
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "3"
